<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../static/css/main.model.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  {% block stylecdn %} {% endblock stylecdn %}
  <title>{% block title %} {% endblock title %}</title>
</head>

<body>
  <main class="contentMain">
    <nav class="
          navbar navbar-expand-lg navbar-light
          m-0
          p-0
          border-bottom border-primary border-5
        ">
      <div class="container-fluid m-0 p-0">
        <a class="navbar-brand" href="#"><img src="../../static/images/33318-3-hotel-hd-thumb.png" alt=""
            height="50px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><strong>Inicio</strong></a>
            </li>
          </ul>
          <div class="">
            <!-- Button trigger modal -->
            <button class="btn text-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
              <strong>Iniciar sesión</strong>
            </button>
            <!-- Modal Loggin-->
            <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border border-3 border-primary">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {% include '/models/form-sing-in.html' %}
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal Register -->
            <div class="modal fade" id="modalRegister" data-bs-backdrop="static" aria-hidden="true"
              aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modalRegister">
                <div class="modal-content border border-3 border-primary">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h5 class="modal-title text-primary text-center my-3" id="staticBackdropLabel">
                      Registrarse
                    </h5>
                    <div class="container">
                      <form action="/signUp" method="POST">
                        <div class="row">
                          <div class="col-md-6 mb-md-4">
                            <span>Nombre
                              <span class="text-danger">*</span></span>
                            <input type="text" name="name" class="form-control" />
                          </div>
                          <div class="col-md-6 mb-md-4">
                            <span>Correo <span class="text-danger">*</span></span>
                            <input type="email" name="email" class="form-control" />
                          </div>
                        </div>
                        <div class="row">
                          
                          <div class="col-md-6 mb-md-4">
                            <span>Contraseña <span class="text-danger">*</span>
                            </span>
                            <input type="password" name="password" class="form-control" />
                          </div>
                          <div class="col-md-6 mb-md-4">
                            <span>Escribe tu Contraseña otra vez <span class="text-danger">*</span>
                            </span>
                            <input type="password" name="password2" class="form-control" />
                          </div>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" />
                          <label class="form-check-label" for="flexCheckIndeterminate">
                            <small>Acepto los
                              <a href="#">termonos y condiciones.</a></small>
                          </label>
                        </div>
                        <button class="btn btn-primary w-100 mt-4">
                          <strong>REGISTRAR</strong>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock content %}
    
  </main>
  <footer class="footerMain bg-primary">
    <div class="bg-primary text-light">
      <span>©<strong> 2021 HOTEL. Todos los derechos reservados</strong></span>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
      
      
  </footer>
  
</body>

</html>