{% extends 'models/loggedIn.model.html' %} {% block title %}dashboard{% endblock
title%} {% block stylecdn %} <link rel="stylesheet" href="../static/css/dashboard.css">{% endblock stylecdn %} 
{% block content %}
<div class="container-fluid dashboardDiv">
  <div class="row">
    <div
      class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2"
      style="width: 280px"
    >
      <a
        href="/"
        class="
          d-flex
          align-items-center
          mb-3 mb-md-0
          me-md-auto
          text-white text-decoration-none
        "
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">DASHBOARD</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-light" aria-current="page">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home"></use>
            </svg>
            Usuarios
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2"></use>
            </svg>
            Habitaciones
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#table"></use>
            </svg>
            Reservaciones
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#grid"></use>
            </svg>
            Permisos
          </a>
        </li>
      </ul>
      <hr />
    </div>
    <div class="container col">
       
    </div>
  </div>
</div>
{% endblock content %}
