<!--Macros-->
<div>
  {% macro cardSales(id, state,visibility, floor ) -%}
  <div class="row bg-dark text-white mt-2 rounded-3">
    <div class="col-5 p-2">
      <div class="row p-0 m-0">
        <div class="col">
          <p>Numero:</p>
        </div>
        <div class="col">
          <strong>{{id}}</strong>
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col">
          <p>Disponibilidad actual:</p>
        </div>
        <div class="col">
          {% if state=="1" %}
            <strong class="text-success">DISPONIBLE</strong>
            {% else %}
            <strong class="text-danger">OCUPADA</strong>
          {% endif %}
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col">
          <p>Estado:</p>
        </div>
        <div class="col">
          {% if visibility=="1" %}
            <strong class="text-success">VISIBLE</strong>
            {% else %}
            <strong class="text-danger">NO VISIBLE</strong>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-4 p-2">
      <div>
        <strong>Piso: {{floor}}</strong>
      </div>
    </div>
    <div class="col-3 md-4">
      <div class="d-flex justify-content-end mt-4 me-4">
        <button class="btn" data-bs-toggle="modal" href="#editar{{id}}" role="button">
          <svg
            width="50"
            height="50"
            viewBox="0 0 62 62"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="31" cy="31" r="31" fill="#0477BF" />
            <path
              d="M18.375 40.1562V45.625H23.8438L39.9729 29.4958L34.5042 24.0271L18.375 40.1562ZM44.2021 25.2667C44.7708 24.6979 44.7708 23.7792 44.2021 23.2104L40.7896 19.7979C40.2208 19.2292 39.3021 19.2292 38.7333 19.7979L36.0646 22.4667L41.5333 27.9354L44.2021 25.2667Z"
              fill="white"
            />
          </svg>
        </button>
        <button class="btn" data-bs-toggle="modal" href="#delete{{id}}" role="button">
          <svg
            width="50"
            height="50"
            viewBox="0 0 62 62"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="31" cy="31" r="31" fill="#FA4747" />
            <path
              d="M21.75 42.7083C21.75 44.3125 23.0625 45.625 24.6667 45.625H36.3334C37.9375 45.625 39.25 44.3125 39.25 42.7083V25.2083H21.75V42.7083ZM40.7084 20.8333H35.6042L34.1459 19.375H26.8542L25.3959 20.8333H20.2917V23.75H40.7084V20.8333Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!--Modal AGREGAR-->
<div
class="modal fade"
id="agregarHabitacion"
aria-hidden="true"
aria-labelledby="exampleModalToggleLabel"
tabindex="-1"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content modal-xl border border-primary border-2 p-4">
    <div class="row p-2">
      <h5
        class="modal-title col-11 text-primary text-center"
        id="exampleModalToggleLabel"
      >
        Añadir Habitacion
      </h5>
      <button
        type="button"
        class="btn-close col-1"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form action="/dashboard/habitaciones" method="POST" class="row text-center">
        <div class="col p-2">
          <div class="mb-3">
            <span>disponibilidad actual</span>
            <select name="state" class="form-select" aria-label="Default select example">
              <option value="1">diponible</option>
              <option value="0">ocupado</option>
            </select>
          </div>
        </div>

        <div class="col p-2">
          <span>Estado</span>
          <select name="visibility" class="form-select" aria-label="Default select example">
            <option value="1">visible</option>
            <option value="0">no visible</option>
          </select>

          <div class="mb-3">
            <div class="mb-3">
              <span>Planta</span>
              <input name="floor" type="text" class="form-control" value="1" />
            </div>
          </div>
        </div>

        <button type="submit" class="btn bg-primary text-white">AGREGAR</button>
      </form>
    </div>
  </div>
</div>
</div>
<!--End Modal-->

<!--Modal EDIT-->
<div
class="modal fade"
id="editar{{id}}"
aria-hidden="true"
aria-labelledby="exampleModalToggleLabel"
tabindex="-1"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content modal-xl border border-primary border-2 p-4">
    <div class="row p-2">
      <h5
        class="modal-title col-11 text-primary text-center"
        id="exampleModalToggleLabel"
      >
        Editar Habitacion
      </h5>
      <button
        type="button"
        class="btn-close col-1"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form action="{{ url_for('dashboard_habitacion_update_delete',action='editar',id_room=id)}}" method="POST" class="row text-center">
        <div class="col p-2">
          <div class="mb-3">
            <span>Numero</span>
            <input type="text" class="form-control" value="{{id}}" name="id" disabled />
          </div>

          <div class="mb-3">
            <span>Disponibilidad actual</span>
            <select class="form-select" name="state">
              <option value="1" {% if state=="1" %} selected {% endif %}>disponible</option>
              <option value="0" {% if state=="0" %} selected {% endif %}>ocupada</option>
            </select>
          </div>

        </div>

        <div class="col p-2">
          <div class="mb-3">
            <span>Planta</span>
            <input type="number" min="1" class="form-control" value="{{floor}}" name="floor"/>
          </div>

          <div class="mb-3">
            <span>Estado</span>
            <select class="form-select" name="visibility" value="{{visibility}}">
              <option value="1" {% if state=="1" %} selected {% endif %}>visible</option>
              <option value="0"{% if state=="0" %} selected {% endif %}>no visible</option>
            </select>
          </div>
        </div>
        <button class="btn bg-primary text-white" type="submit">ACTUALIZAR</button>
      </form>
    </div>
  </div>
</div>
</div>
<!--End Modal-->
<!--Modal Delete-->
<div
  class="modal fade"
  id="delete{{id}}"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-xl border border-danger border-2 p-4">
      <div class="row p-2">
        <h5
          class="modal-title col-12 text-danger text-center"
          id="exampleModalToggleLabel"
        >
          ¿Estas seguro de eliminar la habitacion {{id}}?
        </h5>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('dashboard_habitacion_update_delete',action='eliminar',id_room=id)}}" method="POST" class="row text-center">
          <div class="col">
            <span
              >Confirme el ID {{id}} <strong class="text-danger">*</strong>
            </span>
            <input type="text" class="form-control my-2 w-50 mx-auto my-4" value="{{id}}" />
          </div>

          <div class="row-12">
            <button
              type="button"
              class="btn btn-primary col mx-2"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Cancelar
            </button>
            <button class="btn btn-danger text-white col mx-2" type="submit">Eliminar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->
  {%- endmacro %}
</div>
<!-- End Macros-->

{% extends 'models/dashboard.html' %} {% block contentdash %}
<div class="row">
  <div class="display-6 col-8"><b>Habitaciones</b></div>
  <div class="text-muted col-4 pt-3">
    <strong>Agregar habitacion</strong>
    <button
      class="btn"
      data-bs-toggle="modal"
      href="#agregarHabitacion"
      role="button"
    >
      <svg
        width="30"
        height="30"
        viewBox="0 0 62 62"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="31" cy="31" r="31" fill="#22BB1E" />
        <path
          d="M41.7084 32.9584H32.9584V41.7084H30.0417V32.9584H21.2917V30.0417H30.0417V21.2917H32.9584V30.0417H41.7084V32.9584Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</div>

{% for room in rooms %} 
    {{cardSales(room[0],room[1],room[2],room[3])}} 
{% endfor %}

{% endblock contentdash %}
